body{
    padding-top: 30px;
}

.mainContainer{
    width: 1024px;    
    margin: 0px auto;
}

.catImage{
    max-height: 155px;
    overflow: hidden;
}

/** Lightbox Styles */

.lightboxImageWrapper{
    width: 800px;
    height: 600px;
    border: 10px solid white;
    border-radius: 20px;
    resize: both;
    overflow: hidden;
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
}

.lightboxClose{
    text-align: right;
}

.lightboxPreviousWrap{
    width: 50%;
    height: 100%;
    float: left;
}

.lightboxPrevious{
    top: 45%;
    position: relative;
}

.lightboxNextWrap{
    width: 50%;
    height: 100%;
    float: right;
}

.lightboxNext{
    top: 45%;
    position: relative;
    text-align: right;
}